:root {
    --width: 24px;
}

body {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Global Styles */

* {
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.btn {
    background-color: rgba(92, 113, 94, .8);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: "Truculenta", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgba(92, 113, 94, 1);
}

/* Index Page Styles */
.page-wrapper {
    background: #f2f9f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-wrapper .start-info {
    text-align: center;
    background: #b6cdbd;
    padding: 3rem;
    border-radius: 1rem;
}

.page-wrapper .start-info p {
    font-size: 1.25rem;
}

/* Game Page Styles */
.game-wrapper {
    /* background: url("../images/bg-main.webp") no-repeat center center/contain; */
    background-color: #74b82f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.game-wrapper .game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 600px;
    margin: 0 auto;
}

.game-wrapper .tools {
    color: #ffffff;
    text-align: center;
    font-family: monospace;
    padding: .5rem 1rem;
}

.game-wrapper .tools h2 {
    margin: 0;
}

/* Game Board Styles */
.game-wrapper #board {
    position: relative;
    margin: 0 auto;
    background-color: #c5d1b8;
    border: 12px solid #644b2a;
    box-shadow: inset 0 0 10px #644b2a;
    background-image:
        linear-gradient(to right, #b9b9b9 1px, transparent 1px),
        linear-gradient(to bottom, #b9b9b9 1px, transparent 1px);
    background-size: var(--width) var(--width);
}

/* Game Player Styles */
.game-wrapper #board .body-part {
    position: absolute;
    width: var(--width);
    height: var(--width);
    transition: transform 3s ease;
    background: transparent url("../images/train-body.png") no-repeat top center;
    background-size: contain;
}

.game-wrapper #board .body-part.head {
    background: transparent url("../images/train-head.png") no-repeat top center;
    background-size: contain;
}

.game-wrapper #board .body-part.tail {
    background: transparent url("../images/train-tail.png") no-repeat top center;
    background-size: contain;
}

/* Game Obstacles Styles */
.game-wrapper #board .obstacle {
    background: url("../images/obstacle.png") no-repeat center center;
    position: absolute;
    width: var(--width);
    height: var(--width);
}

.game-wrapper #board .obstacle.static {
    background-color: blue;
}

.game-wrapper #board .prize {
    position: absolute;
    background: url("../images/prize.png") no-repeat center center / cover;
    width: var(--width);
    height: var(--width);
    border-radius: 100%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Game Over Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.bullet {
    position: absolute;
    width: var(--width);
    height: var(--width);
    background-color: yellow;
    border-radius: 50%;
    z-index: 10;
}